body {
    margin: 0;
    padding: 0;
    color: white;
    background: #1E1E1E;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;  /*Consolas, 'Courier New', monospace*/
    font-weight: 700;
    overflow-x: hidden;
}
#info {
    position:fixed;
    margin-top: 300px;
    margin-left: 100px;
    width: 700px;
    /* white-space: nowrap; */
    float:left;
}
#info * {
    display: inline;
}
#name, #text, #course, #text2, #location {
    font-size: 40px;
    text-align: left;
    /* text-transform: uppercase; */
    
}
#name {
    color: #9CDCFE;
}
#course {
    color: #B5CEA8;
}
#location {
    color: #CE9178;
}
pre {
    margin: 0.5em 0;
}

.circlebutton {
    /* background-color: #4CAF50; Green */
    display: inline-block;
    border: none;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    vertical-align: middle;  

}




#demos {
    width: 700px;
    float: right;
}

section {
    font-size: 20px;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(50px);
    transition: all 3s;
}
.show {
    opacity: 1;
    filter: blur(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        opacity: 1;
    }
}